<ul class="nav nav-tabs mb-3" role="tablist">
  <li class="nav-item"><a class="nav-link <%= current_page('settings') %>" href="/settings/site"><%= icon('fas', 'home') %> <span class="d-none d-lg-inline">Site settings</span></a></li>
  <li class="nav-item"><a class="nav-link <%= current_page('settings-profile') %>" href="/settings/profile"><%= icon('fas', 'user') %> <span class="d-none d-lg-inline">Change profile</span></a></li>
  <li class="nav-item"><a class="nav-link <%= current_page('settings-pass') %>" href="/settings/password"><%= icon('fas', 'key') %> <span class="d-none d-lg-inline">Password and Security</span></a></li>
  <li class="nav-item"><a class="nav-link <%= current_page('settings-upload') %>" href="/settings/upload"><%= icon('fas', 'upload') %> <span class="d-none d-lg-inline">Upload settings</span></a></li>
  <li class="nav-item"><a class="nav-link <%= current_page('settings-supporter') %>" href="/settings/supporter"><%= icon('fas', 'star') %> <span class="d-none d-lg-inline">Supporter settings</span></a></li>
  <li class="nav-item"><a class="nav-link <%= current_page('settings-blocks') %>" href="/settings/blocks"><%= icon('fas', 'minus-circle') %> <span class="d-none d-lg-inline">Group blocks</span></a></li>
</ul>
