<ul class="nav nav-tabs mb-3" role="tablist">
  <li class="nav-item"><a class="nav-link active" href="#site_settings" aria-controls="site_settings" data-toggle="tab" data-target="#site_settings"><%= icon('fas', 'home') %> <span class="d-none d-lg-inline">Site settings</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#change_profile" aria-controls="change_profile" data-toggle="tab" data-target="#change_profile"><%= icon('fas', 'user') %> <span class="d-none d-lg-inline">Change profile</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#change_password" aria-controls="change_password" data-toggle="tab" data-target="#change_password"><%= icon('fas', 'key') %> <span class="d-none d-lg-inline">Password and Security</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#upload_settings" aria-controls="upload_settings" data-toggle="tab" data-target="#upload_settings"><%= icon('fas', 'upload') %> <span class="d-none d-lg-inline">Upload settings</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#supporter_settings" aria-controls="supporter_settings" data-toggle="tab" data-target="#supporter_settings"><%= icon('fas', 'star') %> <span class="d-none d-lg-inline">Supporter settings</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#blocks" aria-controls="blocks" data-toggle="tab" data-target="#blocks"><%= icon('fas', 'minus-circle') %> <span class="d-none d-lg-inline">Group blocks</span></a></li>
</ul>
