<%= render partial: 'settings/nav' %>

<form method="post" id="site_settings_form" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="language" class="col-md-4 col-lg-3 col-xl-2 col-form-label">Site theme:</label>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <select class="form-control selectpicker" id="theme_id" name="theme_id">
        <option <%= current_user.theme == 'light' ? 'selected' : nil %> value="light">Light</option>
        <option <%= current_user.theme == 'light-slate' ? 'selected' : nil %> value="light-slate">Light (Slate)</option>
        <option <%= current_user.theme == 'light-bronze' ? 'selected' : nil %> value="light-bronze">Light (Bronze)</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="navigation" class="col-md-4 col-lg-3 col-xl-2 col-form-label">Navigation:</label>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <select class="form-control selectpicker" id="navigation" name="navigation">
        <option <%= current_user.nav.nil? ? 'selected' : nil %> value="0">Legacy</option>
        <option <%= current_user.nav == 1 ? 'selected' : nil %> value="1">Nav (Left)</option>
        <option <%= current_user.nav == 2 ? 'selected' : nil %> value="2">Nav (Right)</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="latest_updates" class="col-md-4 col-lg-3 col-xl-2 col-form-label">Latest updates:</label>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <select class="form-control selectpicker" id="latest_updates" name="latest_updates">
        <option <%= current_user.notify_when_updated == true ? 'selected' : nil %> value="0">Default</option>
        <option <%= current_user.notify_when_updated == false ? 'selected' : nil %> value="1">Grouped chapter list</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="mdh_portlimit" class="col-md-4 col-lg-3 col-xl-2 col-form-label">MD@H Port limit:</label>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <select class="form-control selectpicker" id="mdh_portlimit" name="mdh_portlimit">
        <option <%= current_user.mdh_portlimit == false ? 'selected' : nil %> value="0">Normal</option>
        <option <%= current_user.mdh_portlimit == true ? 'selected' : nil %> value="1">SSL Port (443) only</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="default_lang_ids" class="col-md-4 col-lg-3 col-xl-2 col-form-label">Shown chapter languages:</label>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <select multiple class="form-control selectpicker show-tick" data-actions-box="true" data-selected-text-format="count > 5" data-size="10" id="default_lang_ids" name="default_lang_ids[]" title="All langs">
        <option value="en_US">English (United States)</option>
      </select>
    </div>
  </div>
</form>
