<%= render partial: 'settings/nav' %>

<%= form_with model: @user, :html => { id: 'change_profile_form' } do |f| %>
  <div class="form-group row">
    <%= f.label :username, 'Username:', class: 'col-md-4 col-lg-3 col-xl-2 col-form-label' %>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <input type="text" class="form-control" id="username" name="username" value="<%= current_user.username %>" title="Send ixlone a message on site to change this." disabled>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, 'Email:', class: 'col-md-4 col-lg-3 col-xl-2 col-form-label' %>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <%= f.email_field :email, class: 'form-control', value: current_user.email %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :website, 'Website:', class: 'col-md-4 col-lg-3 col-xl-2 col-form-label' %>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <%= f.text_field :website, class: 'form-control', value: current_user.website, placeholder: 'http:// or https:// required' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :bio, 'Biography:', class: 'col-md-4 col-lg-3 col-xl-2 col-form-label' %>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <%= f.text_area :bio, value: current_user.bio, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :avatar, 'Avatar:', class: 'col-md-4 col-lg-3 col-xl-2 col-form-label' %>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Leave blank if no change to image. Max 1MB" disabled name="old_file">
      </div>
    </div>
  </div>
<% end %>
