<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= @page_title || t('mangadex.default_page') %></title>

    <%= render partial: 'layouts/meta_tags' %>

    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
    <link rel="search" type="application/opensearchdescription+xml" title="MangaDex Quick Search" href="/opensearch.xml">

    <%# First Bootstrap/Bootstrap Select, then main application overrides, then custom themes %>
    <%= stylesheet_pack_tag 'bootstrap' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if session[:current_theme].nil? %>
      <%= stylesheet_pack_tag 'light' %>
    <% end %>

    <% if @chapter.present? %>
      <meta name="app" content="MangaDex" data-guest="<%= user_signed_in? ? 0 : 1 %>" data-chapter-id="<%= content_for?(:page_id) ? yield(:page_id) : '' %>" data-page="<%= content_for?(:p) ? yield(:p) : 1 %>" />
      <%= stylesheet_pack_tag 'reader' %>
    <% end %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="container" role="main" id="content">
      <% if @annoucement.present? %>
        <div id="announcement" class="alert alert-success <%= user_signed_in? ? 'alert-dismissible ' : '' %>fade show text-center" role="alert">
          <% if user_signed_in? %>
            <button id="read_announcement_button" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% end %>
          <strong>Announcement (<%= @annoucement_date || DateTime.current %>):</strong> <%= @annoucement_thread_name || 'Testing' %> <a title="Go to forum thread" href="/thread/<%= @annoucement_thread_id || '1' %>"><%= icon('fas', 'external-link-alt') %></a>
        </div>
      <% end %>
      <% if Rails.env.development? %>
        <div id="announcement" class="alert alert-warning fade show text-center" role="alert">
          <strong>Warning:</strong> MangaDex is currently in Development mode. This means that things may break <strong>at any time</strong>!!! (Current commit: <%= current_commit %>)
        </div>
      <% end %>
      <% if alert %>
        <%= display_alert('danger', 'Error', "#{alert}") %>
      <% end %>
      <% if notice %>
        <%= display_alert('success', 'Notice', "#{notice}") %>
      <% end %>
      <%= yield %>
    </div>
    <div id="message_container" class="display-none"></div>
    <%= render partial: 'shared/settings_modal' %>
    <footer class="footer">
      <p class="m-0 text-center text-muted">&copy; <%= Time.now.year.to_s %> <a href="<%= root_url %>" title="<%= request.host %>">MangaDex</a> | <a href="https://path.net/" target="_blank" title="Provider of DDoS mitigation services">Path Network</a> | <a href="https://sdbx.moe/" target="_blank" title="seedbox provider">sdbx.moe</a> | <a href="https://ddos-guard.net?affiliate=119953" target="_blank" title="ddos-guard">DDoS Protection by DDoS-GUARD</a> | <a href="https://onramper.com/" target="_blank" title="Crypto Widget">Onramper</a></p>
    </footer>
  </body>
</html>
